<div class="main_title"><a href='/' class="main_title">Parlour</a></div>

<div class="top_nav">
	<%= render(:partial => 'shared/nav_link', :locals => { :link_url => "/", :link_text => "home" } ) %>
</div>

<!-- flash -->
<div class="flash_container">
	<% if flash[:notice] %>
		<span class="flash">
			<%= flash[:notice] %>
		</span>
	<% else %>
	<% end-%>
</div>