<div class="page_content_holder">	
	<h1><%= Siting.tagline %></h1><br/><br/>
	
	<% form_tag "/discussion/new" do -%>
		<%= render(:partial => 'discussion/discussion_form') %><br/><br/>
		<%= submit_tag "Start your discussion", :class => 'submit_button' %>
	<% end-%>
</div>