<div class="field_title">Title</div>
<div class="field">
	<%= text_field :discussion, :title, :size => 50, :class => 'text_field' %>
	<%= error_message_on :discussion, :title, :css_class => "text_field_message error" %> 
</div>