<li class="posts" id="post<%=post.id%>">
	<p class="user_name">
		<% if post.user %>
			<%= post.user.name %>
		<% else %>
			Anon
		<% end-%>
	</p>
	<p class="post_body">
		<% if Util.ne post.body %>
			<%= post.body %>
		<% else %>
			No comment.
		<% end-%>
		<br/><br/>
	</p>
</li>