<li class="posts" id="post<%=post.id%>">
	<p class="user_name"><strong>
		<% if post.user %>
			<%= post.user.name %>
		<% else %>
			Anon
		<% end-%>
	</strong></p>
	<p class="post_body">
		<% if Util.ne post.body %>
			<%= post.body %>
		<% else %>
			No comment.
		<% end-%>
	</p>
	<br/>
</li>